section.content {
    width: 100%;
    padding: 0 200px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .c1 {
        width: fit-content;
        margin: 83px auto 93px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #14274A;
    }
    h2 {
        font-family: 'Adobe Garamond Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0.02em;
        color: #14274A;
    }
    .block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 69px;
        .block_text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;            
            border-left: 2px solid #14274A;
            padding: 0 113px 0 48px;
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 40px;
                color: #14274A;
            }
            a {
                display: block;
                width: 236px;
                text-align: center;
                border-radius: 10px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 63px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                background-color: #E0B973;
                margin-top: 30px;
            }
            img {
                border: 1px solid rgba(20, 39, 74, 0.2);
            }  
        }
    }
}