.room_card {
  width: 1500px;
}

.swiper-slide {
  text-align: center;
  max-width: 100%;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rooms_title {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #14274A;
  padding: 82px 0 34px;
}

.rooms_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #14274A;
  margin: 0 200px 82px;
}

.room_card {
  margin: 0 auto 81px;
}

.room_type {
  background: #14274A;
  line-height: 141px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
}

.details_wrap {
  border: 2px solid #14274A;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: space-between;
  padding: 78px 162px;
}
.details_wrap .expand_button {
  display: flex;
}
.details_wrap .expand_button .plus_button {
  margin: auto 0;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #E0B973;
}
.details_wrap .expand_button .room_details {
  margin: auto auto auto 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #14274A;
}
.details_wrap .buy_button {
  display: block;
  width: 288px;
  line-height: 78px;
  background: #E0B973;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
}