.title {
    background-blend-mode: multiply;
    background-color: (rgba(20, 39, 74, 0.5));
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 260px 200px 0;
    width: 100%;
    min-height: 100vh;
    color: #FFFFFF;
    .t1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
    }
    .t2 {
        font-family: 'Adobe Garamond Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 154px;
        letter-spacing: 0.07em;
    }
    .t3 {
        font-family: 'Adobe Garamond Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        letter-spacing: 0.4em;
    }
    .t4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
    .book_button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 268px;
        line-height: 78px;
        margin: 80px auto;
        background: #E0B973;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 25px;
        color: #FFFFFF;
    }
    .scroll_wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.05em;   
        color: #FFFFFF;
        img {
            margin: 15px 0 38px;
        }
    }
}