footer
    .triangle
    .footer_wrap
        .wrap_1
            .wrap_1_1
                p LUXURY 
                p HOTELS
            p.contacts
                a(href="#")   497 Evergreen Rd. Roseville, CA 95673
                a(href="#")  +44 345 678 903
                a(href="#")  luxury_hotels@gmail.com
        .wrap_2
            a(href="#")  About Us
            a(href="#")  Contact 
            a(href="#")  Terms & Conditions
        .wrap_3
            .wrap_3_1
                .img_wrap
                    img(src="pics/footer/fb.png", alt="")
                a(href="#") Facebook
            .wrap_3_1
                .img_wrap
                    img(src="pics/footer/tw.png", alt="")
                a(href="#")  Twitter
            .wrap_3_1
                .img_wrap
                    img(src="pics/footer/inst.png", alt="")
                a(href="#")  Instagram
        .wrap_4
            p.wrap_4_1
                |Subscribe to our newsletter
            .wrap_4_2
                Form
                    Input(type="email" placeholder="Email Address")
                    button OK