header
    .logo 
        p.logo_big LUXURY
        p.logo_small HOTELS
    nav
        a(class= nav_home)(href="index.html") Home
        a(class= nav_facilities)(href="facilities.html") Facilities
        a(class= nav_rooms)(href="rooms.html") Rooms
        a(class= nav_contact)(href="contact.html") Contact-us
