section.testimonials
    h2.c2 Testimonials
        .c3 "Calm, Serene, Retro – What a way to relax and enjoy"
        .c4  Mr. and Mrs. Baxter, UK
        .arrows_wrap
            a(href="#")  
                img(src="pics/index/left_arrow.png", alt="")
            a(href="#") 
                img(src="pics/index/right_arrow.png", alt="")