.title(style= bg_img)
    .t1 WELCOME TO
    .t2 LUXURY
    .t3 HOTELS
    .t4 Book your stay and enjoy Luxury<br> redefined at the most affordable rates.
    a.book_button(href="#")
     img(src="pics/index/home.png", alt="")
     span BOOK NOW
    a.scroll_wrap(href="#content")
        p Scroll
        img(src="pics/index/v.png", alt="")